.wrapper-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper-table {
    margin-top: 20px;
    padding-bottom: 20px;
}
.image-preview-placeholder {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin-top: 24px;
}
.image-preview-wrapper {
    margin-top: 24px;
}
.image-preview-wrapper img {
    max-width: 100%;
}