.section-header {
    line-height: 1;
    margin: 24px 0;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.image-preview-placeholder {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin-top: 24px;
}
.image-preview-wrapper {
    margin-top: 24px;
}
.image-preview-wrapper img {
    max-width: 100%;
}