* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../img/bg-header.png);
  font-size: 30px;
}

.clearfix:after {
    display: block;
    content: ' ';
    height: 0;
    overflow: hidden;
    clear: both;
}


.header {
    height: 96px;
    overflow: hidden;
    position: relative;
}

.header .btn-show-menu {
    position: absolute;
    left: 40px;
    width: 58px;
    height: 38px;
    background: url(../img/bg-show-tab.png) no-repeat center center transparent;
    top: 50%;
    margin-top: -19px;
    cursor: pointer;
}
