.header {
    font-size: 20px;
    border-bottom: 2px solid #eee;
    padding: 20px 0 20px 0;
}
.wrapper-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-preview-placeholder {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin-top: 24px;
}
.image-preview-wrapper {
    margin-top: 24px;
}
.image-preview-wrapper img {
    max-width: 100%;
}