.wrapper-add-btn {
    margin: 20px 0;
}
.wrapper-table table tr th {
    text-align: center;
}
.wrapper-table table tr td {
    text-align: center;
}

.image-preview-placeholder {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin-top: 24px;
}
.image-preview-wrapper {
    margin-top: 24px;
}
.image-preview-wrapper img {
    max-width: 100%;
}