* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 24px;
  overflow: auto;
}

a {
    color: #fff;
}

.clearfix:after {
    display: block;
    content: ' ';
    height: 0;
    overflow: hidden;
    clear: both;
}


img {
    vertical-align: top;
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    color: #fff;
    line-height: 1;
    padding: 8px 44px;
    background-color: #000;
    position: relative;
    top: 10px;
    left: -10px;
}
.btn:after {
    display: block;
    content: " ";
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border: 2px solid #000;
}

.horizontal-center-container {
    width: 100%;
    overflow: hidden;
}


.horizontal-center {
    position: relative;
    float: left;
    left: 50%;
}

.horizontal-center-ele {
    position: relative;
    left: -50%;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgba(50, 50, 50, 0.6);
    line-height: 100px;
    font-size: 24px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
}

.header .slogan {
    margin-left: 72px;
    float: left;
    height: 100%;
}

.header .slogan img {
    vertical-align: middle;
    margin-right: 26px;
}

.header .navs {
    overflow: hidden;
    margin-right: 72px;
    text-align: right;
}

.header .navs a {
    display: inline-block;
    margin-left: 20px;
}

.header .btn-register {
    display: none;
}

.module-contact-us {
    background-color: #333333;
    padding: 170px 0 130px 0;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

.module-contact-us-main {
    width: 1340px;
    margin: 0 auto;
    overflow: hidden;
}

.module-contact-us-main .consult {
    float: left;
}

.module-contact-us-main .consult h3 {
    font-size: 36px;
    line-height: 54px;
}

.module-contact-us-main .address {
    float: left;
    clear: left;
    margin-top: 70px;
    width: 570px;
}

.module-contact-us-main .map {
    text-align: right;
    overflow: hidden;
}

.footer {
    background-color: #666666;
    padding: 50px 0 50px 0;
    font-size: 16px;
}

.footer .links {
    width: 1340px;
    margin: 0 auto;
}

.footer .links h5 {
    color: #fff;
}

.footer .links p {
    text-align: left;
    color: #e0e0e0;
    margin: 20px 0 100px 0;
}

.footer .links p a {
    color: #e0e0e0;
    margin-right: 20px;
}

.footer .copyright {
    width: 1340px;
    margin: 0 auto;
    text-align: center;
    color: #999999;
    font-size: 16px;
}



@media screen and (max-width: 1000px) {
    html, body {
        width: 100%;
        min-width: initial!important;
    }

    .header {
        box-shadow: 0 0 20px #333;
    }

    .header .slogan {
        margin-left: 35px;
    }

    .header .navs {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 0;
        text-align: justify;
        background-color: rgba(50, 50, 50, 0.6);
        -moz-text-align-last:justify; /*ff*/
        -webkit-text-align-last:justify; /*chrome 20+*/
        box-sizing: border-box;
        padding: 0 40px;
        height: 100px;
        overflow: hidden;
    }

    .header .navs:after{
        content:".";
        display: inline-block;
        width:100%;
        overflow:hidden;
        height:0;
    }

    .header .navs a {
        float: left;
        width: 25%;
        text-align: center;
        margin: 0;
        position: relative;
    }

    .header .navs a:after {
        position: absolute;
        content: "\\";
        display: block;
        color: #fff;
        font-size: 40px;
        right: 0;
        top: 0;
    }

    .header .navs a:last-child:after {
        content: " ";
    }  

    .header .btn-register {
        display: block;
        vertical-align: middle;
        float: right;
        margin-right: 35px;
        margin-top: 20px;
    }

    .module-contact-us {
        padding: 35px 0;
        font-size: 20px;
    }

    .module-contact-us-main {
        width: auto;
        margin: 0 50px;
    }

    .module-contact-us-main .consult {
        float: none;
    }

    .module-contact-us-main .consult h3 {
        font-size: 32px;
    }

    .module-contact-us-main .address {
        float: none;
        margin-top: 30px;
        width: auto;
        
    }

    .module-contact-us-main .map {
        text-align: left;
        margin-top: 40px;
        max-width: 100%;
    }

    .module-contact-us-main .map img {
        max-width: 100%;
    }

    .footer {
        padding: 32px 0 38px 0;
    }

    .footer .links {
        display: none;
    }

    .footer .copyright {
        width: auto;
    }
}
