html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
button,article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
button{background: transparent;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

html{
    line-height: initial;
}
body{
    font-size: 0.32rem;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    background-color: #333;
    padding-top: 1rem;
}

/* 禁止选取文本 */
html, body {
    user-select: none;
    -webkit-user-select: none;
}

/* 文本溢出处理 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ios回弹滚动 */
.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 去除输入框阴影 */
input, textarea {
    /*border: 0;*/
    /*-webkit-appearance: none;*/
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

img {
    vertical-align: top;
}

.fl {
    float: left;
}

.ofh {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.img-center-container {
    position: relative;
}

.img-center-container img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.p-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-color: #333333;
    position: relative;
    top: 0.05rem;
    left: 0.05rem;
    text-align: center;

    height: 0.46rem;
    line-height: 0.46rem;
    font-size: 0.24rem;
    width: 1.08rem;
    box-shadow: 0 0 30px -6px #333;
}

.btn:after {
    display: block;
    content: " ";
    overflow: hidden;
    position: absolute;
    border: 1px solid #333;

    top: -0.05rem;
    right: -0.05rem;
    bottom: -0.05rem;
    left: -0.05rem;
}

.horizontal-center-container {
    overflow: hidden;
}

.horizontal-center {
    position: relative;
    left: 50%;
    top: 0;
    float: left;
    transform: translateX(-50%);
}

.header {
    height: 1rem;
    line-height: 1rem;
    background-color: #fff;
    position: relative;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header-main {
    box-shadow: 0 0 20px #333;
    overflow: hidden;
    z-index: 10;
}

.header .btn {
    float: right;
    margin-right: 0.34rem;
    margin-top: 0.25rem;
}

.header .slogan {
    float: left;
    margin-left: 0.35rem;
    font-size: 0.3rem;
}

.header .slogan img {
    vertical-align: middle;
    width: 1.5rem;
    margin-right: 0.1rem;
    position: relative;
    top: -0.04rem;
}

.header .navs {
    z-index: -1;
    /*display: block;*/
    display: none;
    position: absolute;
    /*width: 100%;*/
    left: 0;
    right: 0;
    padding: 0 0.3rem;
    top: 100%;
    background-color: #fff;
    height: 0.92rem;
    line-height: 0.92rem;
}

.header .navs a {
    float: left;
    width: 25%;
    text-align: center;
    color: #666;
    font-size: 0.24rem;
    position: relative;
}

.header .navs a:after {
    display: block;
    content: "\\";
    position: absolute;
    top: 0;
    /*right: -0.2rem;*/
    right: 0;
    font-size: 0.4rem;
}

.header .navs a:last-child:after {
    display: none;
}

@media screen and (min-width: 1000px) {
    .header {
        height: 0.74rem;
        line-height: 0.74rem;
        box-shadow: 0 0 20px #333;
    }

    body {
        padding-top: 0.74rem;
    }

    .header .header-main {
        float: left;
        margin-left: 1.1rem;
        box-shadow: none;
    }

    .header .slogan {
        font-size: 0.24rem;
    }

    .header .slogan img {
        width: 1.4rem;
        position: relative;
        top: -5px;
    }

    .header .btn {
        display: none;
    }

    .header .navs {
        display: block;
        padding: 0;
        /*width: 7rem;*/
        position: static;
        float: right;
        margin-right: 1.1rem;
        height: 0.74rem;
        line-height: 0.74rem;
        text-align: right;
    }

    .header .navs a {
        padding: 0 0.16rem;
        margin-left: 40px;
        width: auto;
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .header .navs a.current {
        background-color: #333333;
        color: #fff;
    }

    .header .navs a:after {
        display: none;
    }
}


.module-wrapper {
    width: 9.8rem;
    margin: 0 auto;
    position: relative;
}

.module-contact {
    height: 6.06rem;
    background-color: #333333;
    color: #fff;
}

.module-contact .wrapper-contact {
    width: 4rem;
    padding-top: 1.16rem;
    z-index: 1;
}

.module-contact .wrapper-contact .title {
    font-size: 0.2rem;
    line-height: 0.45rem;
}

.module-contact .wrapper-contact .title-contact {
    margin-top: 0.52rem;
}

.module-contact .wrapper-contact p {
    font-size: 0.16rem;
    line-height: 0.3rem;
}

.module-contact .wrapper-map {
    position: absolute;
    top: 1.16rem;
    right: 0;
    width: 5.45rem;
    z-index: 0;
}

.module-contact .wrapper-map img {
    width: 100%;
}

.module-footer {
    background-color: #666666;
    height: 2.9rem;
    overflow: hidden;
}

.module-footer .title {
    font-size: 0.18rem;
    color: #fff;
    line-height: 1;
    padding-top: 0.24rem;
    padding-bottom: 0.14rem;
}

.module-footer p {
    line-height: 0.32rem;
    font-size: 0.14rem;
    color: #e0e0e0;
}

.module-footer p a {
    color: #e0e0e0;
    margin-right: 0.16rem;
}

.module-footer .copyright {
    font-size: 0.16rem;
    color: #999999;
    line-height: 1;
    margin-top: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .module-wrapper {
        width: auto;
    }
    .module-contact {
        height: auto;
        padding: 0 0.5rem;
    }

    .module-contact .wrapper-contact {
        width: auto;
        padding-top: 0.28rem;
    }

    .module-contact .wrapper-contact .title {
        font-size: 0.3rem;
        line-height: 0.46rem;
    }

    .module-contact .wrapper-contact p {
        font-size: 0.24rem;
        line-height: 0.38rem;
    }

    .module-contact .wrapper-map {
        position: static;
        width: auto;
        margin-top: 0.38rem;
        padding-bottom: 0.28rem;
    }

    .module-footer {
        height: auto;
    }

    .module-footer .title, .module-footer p {
        display: none;
    }

    .module-footer .copyright {
        line-height: 1rem;
    }
}


/* 咨询栏样式 */
.module-consult-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    /*background-color: rgba(51, 51, 51, 0.8);*/
    height: 1.26rem;
    overflow: hidden;
    box-shadow: 0 0 20px #333;
}

.module-consult-bar-main {
    width: 9.8rem;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.module-consult-bar-item {
    position: absolute;
}

.module-consult-bar-item-telephone {
    left: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    line-height: 1.26rem;
    font-size: 0.24rem;
    color: #fff;
}

.module-consult-bar-item-telephone a {
    display: block;
    color: #fff;
}

.module-consult-bar-item-consult,
.module-consult-bar-item-register {
    width: 2.6rem;
    height: 0.7rem;
    border: 1px solid #fff;
    top: 0.28rem;
}

.module-consult-bar-item-consult {
    left: 3.6rem;
}

.module-consult-bar-item-register {
    right: 0.66rem;
}

.module-consult-bar-item-consult a,
.module-consult-bar-item-register a {
    display: block;
    position: absolute;
    /*left: 0.1rem;
    right: 0.1rem;
    top: 0.1rem;*/
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 2.5rem;
    height: 0.58rem;
    line-height: 0.58rem;
    font-size: 0.24rem;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.show-consult-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1.26rem;
    z-index: 1111;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    background: url(../img/arrow-left.png) no-repeat center center #333;
    background-size: 0.33rem 0.82rem;
    display: none;
}

.module-consult-bar-close {
    position: absolute;
    height: 0.6rem;
    width: 0.6rem;
    right: 0;
    top: 0;
    background: url(../img/icon-cross.png) no-repeat center center transparent;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .module-consult-bar {
        display: block!important;
        height: 1.18rem;
        width: 100%;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 1);
        /*background-color: rgba(255, 255, 255, 0.8);*/
    }

    .module-consult-bar-main {
        width: 100%;
    }

    .module-consult-bar-item {
        position: absolute;
        top: 0.22rem;
        width: 2.22rem;
        height: 0.76rem;
        border: 1px solid #000;
    }

    .module-consult-bar-item-telephone {
        left: 0.08rem;
    }

    .module-consult-bar-item-consult {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .module-consult-bar-item-register {
        left: auto;
        right: 0.08rem;
    }

    .module-consult-bar-item a {
        display: block;
        background-color: #000;
        color: #fff;
        height: 0.66rem;
        line-height: 0.66rem;
        width: 2.12rem;
        font-size: 0.28rem;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .module-consult-bar-close {
        display: none;
        background: none;
    }

    .module-consult-bar-item-telephone {
        text-align: center;
    }

    .module-consult-bar-item-telephone .telephone {
        display: none;
    }

    .module-consult-bar-item-telephone .icon-phone {
        display: inline-block;
        width: 0.29rem;
        height: 0.28rem;
        background: url(../img/icon-phone-2.png) no-repeat center center transparent;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-left: 0.2rem;
    }

    .show-consult-bar {
        display: none!important;
    }
}
/* 咨询栏样式 end */