.section-header {
    line-height: 1;
    margin: 24px 0;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.wrapper-editor {
    display: none;
}
.wrapper-add-sub-course {
    margin: 10px 0;
}

.wrapper-sub-course-table table,
.wrapper-sub-course-table table th
{
    text-align: center;
}

.error {
    margin-left: 10px;
    color: red;
}

.image-preview-placeholder {
    /*width: 400px;*/
    min-height: 200px;
    background-color: #eee;
    margin-top: 24px;
}
.image-preview-wrapper {
    margin-top: 24px;
}
.image-preview-wrapper img {
    max-width: 100%;
}