html, body {
    margin: 0;
    padding: 0;
}
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #555;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}
button, input[type="checkbox"] {
    outline: none;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrapper {
    position: relative;
    border-left: 220px solid #fafafa;
}
.main {
    min-height: 400px;
    margin: 0 20px;
}